.newProduct{
    flex: 4;
    
}
.newProductTitle{
    font-size: 30px;
    color: rgb(60, 60, 220);
}
.newProductForm{
    padding: 20px;
    display: flex;
    width: 100%;
   
    flex-direction: column;
    column-gap: 20px;
    align-items: center;
    row-gap: 15px;
   
  
    justify-content: center;
}
.newProductItem{
    width:45%;
    display: flex;
    flex-direction: column;
   
}
.newProductUploadItem{
    width:45%;
    display: flex;
    flex-direction: column;
}
.newProductUploadFile{
    border: none ;
    
}
input::file-selector-button {
    font-weight: bold;
    color: rgb(245, 247, 249);
    padding: 0.5em;
    border:none;
    background-color: rgb(4, 173, 4);
    border-radius: 3px;
  }
.newProductItem>label{
    color: rgb(116, 113, 113);
}
.newProductItem>input{
    height: 30px;
    outline: none;
    border: 1px solid silver;
    
}

.newProductSelect{
    height: 30px; 
    border: 1px solid silver;
}
.newProductButton{
    width:200px;
    height: 10%;
    background-color: rgb(14, 114, 148);
    color: white;
    border: none;
    font-weight: 700;
    padding: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}